:root {
    --screen-width: 1280px;
    --input-section-width: 400px;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

.main {
    width: var(--screen-width);
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.input-section {
    width: var(--input-section-width);
    margin: 0 auto;
    background-color: white;
}

.input-section-header {
    width: calc(var(--input-section-width) - 40px);
    padding: 10px 20px;
    text-align: left;
    background-image: url("../images/banner.jpg");
    background-position: 0 -55px;
    background-size: 230%;
    font-size: 0.9em;
    color: #484646;
}

.input-section-header p, .input-section-header h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.address-form {
    width: calc(var(--input-section-width) - 40px);
    padding: 10px 20px;
    vertical-align: middle
}

.address-form label {
    color: #4564a3;
    font-size: 0.75em;
    line-height: 30px;
}

.required-mark {
    color: #cc0f0f;
}

.address-form input, .address-form select {
    box-sizing: border-box;
    width: calc(100% - 20px);
}

.address-form input {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #c5c1c1;
}

.half-div {
    display: inline-block;
    width: 49%;
    margin-bottom: 10px;
}

.select-holder {
    display: none;
}

.address-form hr {
    color: #c5c0c0;
    margin-bottom: 5px;
}

.address-form input.auto-detect-checkbox {
    width: 10px;
    margin: 0;
    vertical-align: middle
}

.address-form button.submit-button, .address-form input.reset-button {
    width: 70px;
    height: 30px;
    margin-top: 15px;
    border-radius: 0;
    border-width: 1px;
    border-bottom-width: 3px;
    color: white;
    font-size: 0.7em;
    font-weight: 100;
}

.address-form button.submit-button {
    background-color: #4564a3;
    border-color: #355086;
}

.address-form button.submit-button:hover {
    background-color: #5471a4;
    border-color: #445d86;
}

.address-form input.reset-button {
    background-color: #fdad05;
    border-color: #fd7505;
}

.address-form input.reset-button:hover {
    background-color: #ffba36;
    border-color: #ff8f34;
}

#result-section {
    display: none;
}

.result-card {
    background-color: white;
    width: 580px;
    height: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    color: #8d8787;
    box-shadow: -1px 1px 3px 0 #696969;
}

.result-card:hover {
    box-shadow: -1px 1px 6px 0 #696969;
}

#card-address {
    font-size: 1.5em;
}

#card-weather-icon {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.card-temperature-text {
    font-size: 6em;
    margin-left: 200px;
    vertical-align: middle;
}

#card-weather {
    margin-left: 20px;
}

.cloud-stats-table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-spacing: 10px;
}

.card-stats-icon {
    width: 30px;
    height: 30px;
}

#result-table {
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    border-spacing: 0 5px;
}

.result-table-header {
    background-color: #4564a3;
    height: 40px;
}

.table-date {
    width: 25%;
}

.table-status {
    width: 20%;
}

.result-table-row {
    background-color: white;
    height: 80px;
}

.table-status-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.detail-title {
    margin: 20px auto;
    text-align: center;
    font-size: 2em;
}

.detail-card {
    position: relative;
    background: linear-gradient(to bottom, white 0%, #344971 100%);
    width: 370px;
    height: 290px;
    margin: 0 auto;
    padding: 10px 15px;
}

.detail-upper {
    margin-top: 13px;
    font-size: 1.2em;
    color: #344971;
}

.detail-temp-range {
    font-size: 1.6em;
}

#detail-status-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 140px;
    height: 140px;
}

.detail-stats-div {
    color: white;
    margin-top: 20px;
}

.detail-stats-label {
    display: inline-block;
    text-align: right;
    width: 200px;
    margin-top: 5px;
}

.detail-stats {
    font-size: 1.1em;
}